.dotnetcli
.DS_Store
.idea/
.metadata
.settings
.vs
.jshintrc
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
[bB]in
BenchmarkDotNet.Artifacts/
BuildOutput
_NCrunch_*/*.*
node_modules
obj
out
packages
src/**/package-lock.json
tests/**/jsconfig.json
tests/**/package-lock.json
tests/**/output
tests/**/screenshots/diff
project.lock.json
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.binlog
*.diagsession
*.DotSettings
*.GhostDoc.xml
*.log
*.ncrunch*
*.nupkg
*.opensdf
*.psess
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
*.vsp
*.vspx
*.zip
dist/
wwwroot/
coverage/
.yalc/
yalc.lock
